{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<br>
<br>
<br>
<br>
<br>
<br>




<div class="card">
    <div class="card-header">
            پرداخت               
        </div>
    <div class="card-body">
    {% for p in cart_products %}
        {% if p.Sale == True %}

           {{p.Name}} - price:{{p.Discount}}<br>
            
        {% else %}
           {{p.Name}} - price:{{p.Price|intcomma}}<br>
            

        {% endif %}
        {% for key,value in quantities.items %}
                {% if key|slugify == p.id|slugify %}
                    quantitiy:{{ value }}<br><br>
                {% endif %}
            {% endfor %}
    {% endfor%}
    total:  <strong>{{total|intcomma}}</strong><br><br>
    <a href="{% url 'cart_summery' %}">تغییر در سبد خرید</a>
    </div>
  </div><br><br><br>

  <form method="POST" action="{% url 'billibg_info' %}">

    <div class="card">
      <div class="card-header">
        shipping info
      </div>
      <div class="card-body" style="direction:ltr;">
        
        
        
          name:{{shipping_info.shipping_full_name}}<br>
          eamil:{{shipping_info.shipping_email}}<br>
          address1:{{shipping_info.shipping_adress1}}<br>
          address2:{{shipping_info.shipping_adress2}}<br>
          postal code:{{shipping_info.shipping_zip_code}}<br>
          city:{{shipping_info.shipping_city}}<br>
          state:{{shipping_info.shipping_state}}<br>
          country:{{shipping_info.shipping_country}}<br>
          <a href="{% url 'checkout' %}">تغییر مشخصات</a>
       
      </div>
    </div>
      <button type="submit" class="btn btn-success" >پرداخت</button>
      </form>
<br>
<br>
<br>
<form method ="POST" action="{% url 'process_order' %}">
    {% csrf_token%}
<div class="card">
    <div class="card-header">
      billibg info
    </div>
    <div class="card-body" style="direction:ltr;">
      
      {{billibg_form.as_p}}
        
      <button type="submit" class="btn btn-success" >پرداخت</button>
     
    </div>
  </div>
</form>
{% endblock %}
