{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block content %}

<!-- products section starts  -------------------------------------------------------------->

<section class="products" id="products">
<br>
<br>
<br>
    <h1 class="heading"> دسته {{ category }}   </h1>

    <div class="box-container">
        {% for p in product %}
            
                    <div class="box">
                        
                        <img src="{{ p.Image.url }}" alt="">
                        <div class="content">
                            <h3>{{ p.Name }}</h3>
                            {% if  p.Sale == True %}
                            <div class="price"><span>{{ p.Price|intcomma }}</span> {{ p.Discount|intcomma }}</div>
                            {% elif p.Sale == False  %}
                            <div class="price">{{p.Price | intcomma}}</div>

                            {% endif %}

                            <div class="stars">
                                {% with ''|center:p.Stars as range %}
                                    {% for star in range %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                            <a href="{% url 'product' p.id %}" class="btn">افزودن به سبد خرید</a>
                        </div>
                    </div>
                
        {% endfor %}
    </div>
</section>

<!-- products section ends -->
{% endblock %}